@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@100;800;900&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* Header Section */

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}
nav{
    height: 100%;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}
nav .brand a{
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    color: white;
}
nav .nav-items a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

/* Main Section */

main{
    margin-top: 50px;
    padding: 35px;
}
main .hading{
    display: block;
    margin-bottom: 25px;
}
main .landing{
    display: flex;
    flex-direction: row;
}
main .landing .left-section{
    width: 35%;
}
main .landing .left-section .btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
main .landing .left-section .btn button{
    padding: 15px 55px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-black{
    background-color: black;
    color: white;
}
main .landing .left-section .item{
    display: inline-block;
}
main .landing .right-section{
    width: 65%;
}
.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
main .landing .right-section img{
    height: 100%;
    width: 100%;
}